StrictHostKeyChecking no
Host github.com
    Hostname ssh.github.com
    User zhkathdeployment
    Port 443
    IdentityFile ~/.ssh/id_rsa

# User zhkathdeployment instead of git
# zhkathdeployment is collaborator on github repositories
