[buildout]
extends =
   versions.cfg
   sources.cfg
   migration.cfg
parts =
    repozo
    backup
    zopepy
    migrate

eggs +=
    Plone
    Pillow
    collective.recipe.backup >= 4.0
    Products.AdvancedQuery
    collective.easyform
    Products.PloneKeywordManager
    collective.ambidexterity
    plone.app.changeownership
    collective.monkeypatcher
    plone.app.imagecropping >= 2.1.0
    Products.RedirectionTool
    plone.formwidget.recaptcha
    collective.z3cform.norobots
    plone.app.mosaic
    collective.collectionfilter
    collective.embeddedpage
    rohberg.contentmember
    rohberg.zhkath
    collective.multiplecalltoactions
    collective.calltoaction

extensions += mr.developer
# TODO: Unterscheiden ob always-checkout oder nicht
# always-checkout = false
always-checkout = force
auto-checkout = *
develop -= .
#index = https://pypi.python.org/simple
find-links =
    http://dist.plone.org
    http://effbot.org/downloads
    https://dist.plone.org/release/5.1.5/
sources = sources
versions = versions


[instance]
recipe = plone.recipe.zope2instance
eggs = ${buildout:eggs}
user = admin:${settings:user}
shared-blob = on
zeo-client = on
event-log-max-size = 5mb
event-log-old-files = 3
access-log-max-size = 5MB
access-log-old-files = 3
zope-conf-additional =
    datetime-format international
# only load message catalogs for languages we really require
environment-vars =
    PTS_LANGUAGES de en fr
    zope_i18n_allowed_languages de en fr
    zope_i18n_compile_mo_files true
#zcml = rohberg.zhkath

[repozo]
recipe = zc.recipe.egg
eggs = ZODB3
scripts = repozo
dependent-scripts = true


[backup]
recipe = collective.recipe.backup
location = ${buildout:backups-dir}/backups
blobbackuplocation = ${buildout:backups-dir}/blobstoragebackups
snapshotlocation = ${buildout:backups-dir}/snapshotbackups
blobsnapshotlocation = ${buildout:backups-dir}/blobstoragesnapshots
datafs = ${buildout:var-dir}/filestorage/Data.fs
blob-storage = ${buildout:var-dir}/blobstorage
blob_timestamps = true


[zopepy]
# installs a zopepy python interpreter that runs with your
# full Zope environment
recipe = zc.recipe.egg
eggs = ${buildout:eggs}
interpreter = zopepy
scripts = zopepy


[precompiler]
# This recipe is used in production installs to compile
# .py and .po files so that the daemon doesn't try to do it.
# For options see http://pypi.python.org/pypi/plone.recipe.precompiler
recipe = plone.recipe.precompiler
eggs = ${buildout:eggs}
compile-mo-files = true


[versions]
setuptools =
zc.buildout =


[migrate]
recipe = mr.migrator
pipeline = ${buildout:directory}/src/rohberg/migratezhkathch4to5/pipelines/example.cfg
